In [17]:
import pandas as pd
import requests 
from bs4 import BeautifulSoup
import re

In [30]:
url = 'https://books.toscrape.com/catalogue/the-secret-garden_413/index.html'

headers = {'User-Agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36 OPR/37.0.2178.54'}

page = requests.get(url,headers = headers)

In [31]:
soup= BeautifulSoup(page.text, 'html.parser')

In [32]:
product_list = soup.find('div',class_='container-fluid page')

In [33]:
#name of book
product_name = product_list.find('li',class_='active').get_text()
product_name

'The Secret Garden'

In [34]:
#price of book

product_price= product_list.find('p',class_='price_color').get_text().replace('Â£','')

product_price

'15.08'

In [35]:
#category of book
product_category= product_list.find_all('a')[2].get_text()

product_category

'Classics'

In [36]:
#product in stock
product_stock= product_list.find_all('td')[5].string[:8]
product_stock

'In stock'

In [27]:
#number of Availability of book

product_availabilty= product_list.find_all('td')[5].string[8:-10].replace('(','')

In [37]:
product_availabilty

' 14 '

In [38]:
pd.DataFrame([product_name,product_category,product_price,product_availabilty,product_stock]).T

                   0         1      2     3         4
0  The Secret Garden  Classics  15.08   14   In stock