In [34]:
import pandas as pd
import sqlite3

from sqlalchemy import create_engine

In [35]:
data= pd.read_csv('data.store_book.csv')
data = data.drop(['Unnamed: 0'],axis=1)

In [36]:
data.head()

,product_name,product_price,product_stock,product_avaliation,product_category,scrapy_datetime
0,the_secret_garden,15.08,instock,4,classics,2022-05-05 15:36:34
1,the_metamorphosis,28.58,instock,1,classics,2022-05-05 15:36:34
2,the_pilgrim's_progress,50.26,instock,2,classics,2022-05-05 15:36:34
3,the_hound_of_the_baskervilles_(sherlock_holmes...,14.82,instock,2,classics,2022-05-05 15:36:34
4,little_women_(little_women_#1),28.07,instock,4,classics,2022-05-05 15:36:34

In [19]:
#convent to types leanguage sql

data = data.dtypes.replace('object','TEXT').replace('int64','INTEGER').replace('float64','REAL')

data

product_name             TEXT
product_price            REAL
product_stock            TEXT
product_avaliation    INTEGER
product_category         TEXT
scrapy_datetime          TEXT
dtype: object

In [37]:
#montando a query (colocando as respectivas colunas e seus respectivos tipos de acordo com linguagem SQL)

query_showroom_schrem = """ 
    CREATE TABLE VITRINE(product_name             TEXT,
                         product_price            REAL,
                         product_stock            TEXT,
                         product_avaliation    INTEGER,
                         product_category         TEXT,
                         scrapy_datetime          TEXT) """

In [23]:
#criando banco de dados
conn = sqlite3.connect('store_books.sqlite')

#executando a chamada da query eu quero
cursor = conn.execute(query_showroom_schrem)

#confirmado a chamada do cursor (query que eu realmente quero)

conn.commit()

In [38]:

#usando sqlalchemy é possível usar para outros bancos de dados e por meio dele também ser criado como foi o 
# código acima. Ou seja, Com ele é possível criar um banco de dados e fazer as manipulaçoes também

#verificando se a query foi realmente criada

#conectando ao novo pacote/ 
conn= create_engine('sqlite:///store_books.sqlite', echo=False)

In [44]:
#selecionando as coluna que preciso/quero manipular

query = """ SELECT * FROM VITRINE """


#lendo minha query criada
df = pd.read_sql_query(query,conn)

df.head()

,product_name,product_price,product_stock,product_avaliation,product_category,scrapy_datetime
0,the_secret_garden,15.08,instock,4,classics,2022-05-05
1,the_metamorphosis,28.58,instock,1,classics,2022-05-05
2,the_pilgrim's_progress,50.26,instock,2,classics,2022-05-05
3,the_hound_of_the_baskervilles_(sherlock_holmes...,14.82,instock,2,classics,2022-05-05
4,little_women_(little_women_#1),28.07,instock,4,classics,2022-05-05

In [40]:
#insert date to Data Frame

data.to_sql('VITRINE',con=conn, if_exists='append', index=False)

57

In [43]:
#Update data the columns SQL

query=  """ UPDATE VITRINE
            SET scrapy_datetime = '2022-05-05' """


conn = sqlite3.connect('store_books.sqlite')
cursor = conn.execute(query)
conn.commit()