In [103]:
import pandas as pd
import numpy as np

In [52]:
data = pd.read_csv('/home/guilherme/Documentos/repos/ds_ao_dev/projeto_webscraping/df_raw.csv')

In [53]:
data.head()

,Unnamed: 0,product_id,products_category,products_name,products_price,scrapy_datetime,stlye_id,color_id,color_name,Composition
0,0,1024256001,men_jeans_slim,Slim Jeans,19.99,2022-04-24-11-21:30,1024256,1,Light denim blue,"Shell: Cotton 99%, Spandex 1%"
1,1,1024256001,men_jeans_slim,Slim Jeans,19.99,2022-04-24-11-21:30,1024256,1,Light denim blue,"Pocket lining: Polyester 65%, Cotton 35%"
2,2,1024256001,men_jeans_slim,Slim Jeans,19.99,2022-04-24-11-21:30,1024256,1,Light denim blue,"Shell: Cotton 99%, Spandex 1%"
3,3,1024256001,men_jeans_slim,Slim Jeans,19.99,2022-04-24-11-21:30,1024256,1,Light denim blue,"Pocket lining: Polyester 65%, Cotton 35%"
4,4,1024256001,men_jeans_slim,Slim Jeans,19.99,2022-04-24-11-21:30,1024256,1,Denim blue,"Shell: Cotton 99%, Spandex 1%"

In [27]:
#data['Composition']= data['Composition'].where(~data['Composition'].str.contains('Pocket lining:',na=False))

In [54]:
data = data.drop(['Unnamed: 0' ],axis=1)
data.sample()

,product_id,products_category,products_name,products_price,scrapy_datetime,stlye_id,color_id,color_name,Composition
85,1024256001,men_jeans_slim,Slim Jeans,19.99,2022-04-24-11-21:30,1024256,1,Black,"Pocket lining: Polyester 65%, Cotton 35%"

In [77]:
#product id

data = data.dropna(subset=['product_id'])

#product category

#product name
data['products_name']= data['products_name'].apply(lambda x: x.replace(' ','_').lower())
#products_price

#já fiz o tratamento anteriomente

#product datetime

data['scrapy_datetime']= pd.to_datetime(data['scrapy_datetime'])
#style id

#color id

#color name
data['color_name']= data['color_name'].apply(lambda x: x.replace(' ','_').replace('/','_').lower() if pd.notnull(x) else x)

#Composition

data['Composition']= data['Composition'].where(~data['Composition'].str.contains('Pocket lining:',na=False) ) 

data['Composition']= data['Composition'].where(lambda x: ~x.str.contains('Shell:',na=False) )

data['Composition'] = data['Composition'].where(lambda x: ~x.str.contains('Lining:',na=False) )


#break composition by comma (separando as composições dos materiais por coluna)
df1 = data['Composition'].str.split(',',expand=True)


#Cotton| Spandex | Polyester |  Elastomultiester

data.head()

,product_id,products_category,products_name,products_price,scrapy_datetime,stlye_id,color_id,color_name,Composition
0,1024256001,men_jeans_slim,slim_jeans,19.99,2022-04-24 11:00:00-21:30,1024256,1,light_denim_blue,NaN
1,1024256001,men_jeans_slim,slim_jeans,19.99,2022-04-24 11:00:00-21:30,1024256,1,light_denim_blue,NaN
2,1024256001,men_jeans_slim,slim_jeans,19.99,2022-04-24 11:00:00-21:30,1024256,1,light_denim_blue,NaN
3,1024256001,men_jeans_slim,slim_jeans,19.99,2022-04-24 11:00:00-21:30,1024256,1,light_denim_blue,NaN
4,1024256001,men_jeans_slim,slim_jeans,19.99,2022-04-24 11:00:00-21:30,1024256,1,denim_blue,NaN

In [188]:
#Cotton| Spandex | Polyester |  Elastomultiester
#2 etapa
#definir as colunas (organizando as colunas por máteria-prima)

#criando Dataframe vazio com o mesmo tamanho do dataframe original para prencher com as respectivas composições
df_ref = pd.DataFrame(index=np.arange(len(data) ),columns=['cotton','spandex','polyester','elastomultiester'])

#cotton
#pegando a coluna da composição cotton
df_cotton = df1[0]

#colocando o nome na coluna 
df_cotton.name = 'cotton'
#mesclando com a tabela vazia 
df_ref = pd.concat([df_ref,df_cotton],axis=1)

#dropando as colunas duplicadas
df_ref= df_ref.iloc[:,~df_ref.columns.duplicated(keep='last')]

#polyester 

#adicionando as coluna da composição Polyester
df_polyester =df1[1].where(lambda x: x.str.contains('Polyester',na=True))

#renomeando a coluna
df_polyester.name= 'polyester'

df_ref= pd.concat([df_ref,df_polyester],axis=1)

#dropando as colunas duplicadas
df_ref= df_ref.iloc[:,~df_ref.columns.duplicated(keep='last')]

#Elastomultiester

#coletando apenas a composição elastano
df_elastomultiester =df1[1].where(lambda x: x.str.contains('Elastomultiester',na=True))

#renomenado a coluna eslastano
df_elastomultiester.name= 'elastomultiester'

#mesclando com df_ref vazio e com a mesma quantidade de linhas que há no index
df_ref= pd.concat([df_ref,df_elastomultiester],axis=1)

#dropando as colunas duplicadas
df_ref= df_ref.iloc[:,~df_ref.columns.duplicated(keep='last')]

In [211]:
#Spandex

#coletando composição spandex da segunda coluna df1

df_spandex_1= df1[1].where(lambda x: x.str.contains('Spandex',na=True))

df_spandex_1.name = 'spandex'

df_ref= pd.concat([df_ref,df_spandex_1],axis=1)

df_ref= df_ref.iloc[:,~df_ref.columns.duplicated(keep='last')]

#coletando composição spandex da terceira coluna do df1

df_spandex_2= df1[2].where(lambda x: x.str.contains('Spandex',na=True))
             
df_spandex_2.name= 'spandex'

df_ref= pd.concat([df_ref,df_spandex_2],axis=1)

df_ref= df_ref.iloc[:,~df_ref.columns.duplicated(keep='last')]

array([None, nan, ' Polyester 6%', ' Polyester 20%', ' Polyester 21%',
       ' Polyester 19%'], dtype=object)