In [112]:
import re

import requests
import pandas as pd
import numpy as np
import math
from bs4 import BeautifulSoup
from datetime import datetime

In [117]:
url = 'https://books.toscrape.com/catalogue/category/books/classics_6'

headers = {'User-Agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36 OPR/37.0.2178.54'}

page = requests.get(url,headers = headers)

soup= BeautifulSoup(page.text, 'html.parser')

products_page_inicial = soup.find('ol',class_='row')

#colect name of book
name_book =  soup.find_all('img',class_='thumbnail')

#name of book
product_name= [p.get('alt') for p in name_book ]

#price of books
price_regular= products_page_inicial.find_all('p',class_='price_color')
product_price= [p.get_text() for p in price_regular]

#product in stock
stock= products_page_inicial.find_all('p',class_='instock availability')

product_stock= [p.get('class')[0] for p in stock]

#category

list_category = soup.find('li',class_='active').get_text('Classics')
    
#product_category= [p.get_text() for p in list_category]

#coletando link para fazer paginação

#list_link=soup.find_all('article',class_='product_pod')

#link_book= [p.a.get('href')[9:] for p in list_link]

#avaliation o book
star_of_book= soup.find_all('p', class_= 'star-rating')

product_avaliation = [p.get('class')[1] for p in star_of_book]

#making data
data= pd.DataFrame([product_name,product_price,product_stock,product_avaliation]).T

data.columns= ['product_name','product_price','product_stock','product_avaliation']

data['product_category'] = list_category

data['scrapy_datetime'] = datetime.now().strftime('%Y-%m-%d-%H-%M-%S')


##### cleaning the data ############

#product_name

data['product_name'] = data['product_name'].map(lambda x: x.lower().replace(' ','_') )

#product price

data['product_price']= data['product_price'].apply(lambda x: re.search('\d+.\d+',x).group(0))

#product_stock

data['product_avaliation']= data['product_avaliation'].map(lambda x: x.lower())

#category
data['product_category'] = data['product_category'].apply(lambda x: x.lower())

#date
data['scrapy_datetime']= pd.to_datetime(data['scrapy_datetime'],format= '%Y-%m-%d-%H-%M-%S')

data['product_avaliation'] = data['product_avaliation'].apply(lambda x: x.replace('one','1').replace('two','2').
                                                             replace('three','3').replace('four','4'))

data_classic= data.copy(deep=True)

data_classic.head()

,product_name,product_price,product_stock,product_avaliation,product_category,scrapy_datetime
0,the_secret_garden,15.08,instock,4,classics,2022-05-05 15:36:34
1,the_metamorphosis,28.58,instock,1,classics,2022-05-05 15:36:34
2,the_pilgrim's_progress,50.26,instock,2,classics,2022-05-05 15:36:34
3,the_hound_of_the_baskervilles_(sherlock_holmes...,14.82,instock,2,classics,2022-05-05 15:36:34
4,little_women_(little_women_#1),28.07,instock,4,classics,2022-05-05 15:36:34

In [116]:
#links = [link.get('href') for link in soup.find_all('a')]

In [123]:
## ================Science Ficition =========##

url = 'https://books.toscrape.com/catalogue/category/books/science-fiction_16/index.html'

headers = {'User-Agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36 OPR/37.0.2178.54'}

page = requests.get(url,headers = headers)

soup= BeautifulSoup(page.text, 'html.parser')

products_page_inicial = soup.find('ol',class_='row')

#colect name of book
name_book =  soup.find_all('img',class_='thumbnail')

#name of book
product_name= [p.get('alt') for p in name_book ]

#price of books
price_regular= products_page_inicial.find_all('p',class_='price_color')
product_price= [p.get_text() for p in price_regular]

#product in stock
stock= products_page_inicial.find_all('p',class_='instock availability')

product_stock= [p.get('class')[0] for p in stock]

#category

list_category = soup.find('li',class_='active').get_text('Science Ficition')
    
#product_category= [p.get_text() for p in list_category]

#coletando link para fazer paginação

#list_link=soup.find_all('article',class_='product_pod')

#link_book= [p.a.get('href')[9:] for p in list_link]

#avaliation o book
star_of_book= soup.find_all('p', class_= 'star-rating')

product_avaliation = [p.get('class')[1] for p in star_of_book]

#making data
data= pd.DataFrame([product_name,product_price,product_stock,product_avaliation]).T

data.columns= ['product_name','product_price','product_stock','product_avaliation']

data['product_category'] = list_category

data['scrapy_datetime'] = datetime.now().strftime('%Y-%m-%d-%H-%M-%S')


##### cleaning the data ############

#product_name

data['product_name'] = data['product_name'].map(lambda x: x.lower().replace(' ','_') )

#product price

data['product_price']= data['product_price'].apply(lambda x: re.search('\d+.\d+',x).group(0))

#product_stock

data['product_avaliation']= data['product_avaliation'].map(lambda x: x.lower())

#category
data['product_category'] = data['product_category'].apply(lambda x: x.lower())

#date
data['scrapy_datetime']= pd.to_datetime(data['scrapy_datetime'],format= '%Y-%m-%d-%H-%M-%S')

data['product_avaliation'] = data['product_avaliation'].apply(lambda x: x.replace('one','1').replace('two','2').
                                                             replace('three','3').replace('four','4').
                                                              replace('five','5'))

data_science= data.copy(deep=True)

data_science.head()

,product_name,product_price,product_stock,product_avaliation,product_category,scrapy_datetime
0,mesaerion:_the_best_science_fiction_stories_18...,37.59,instock,1,science fiction,2022-05-05 15:40:42
1,join,35.67,instock,5,science fiction,2022-05-05 15:40:42
2,"william_shakespeare's_star_wars:_verily,_a_new...",43.30,instock,4,science fiction,2022-05-05 15:40:42
3,the_project,10.65,instock,1,science fiction,2022-05-05 15:40:42
4,soft_apocalypse,26.12,instock,2,science fiction,2022-05-05 15:40:42

In [127]:
## ================ Humor =========##

url = 'https://books.toscrape.com/catalogue/category/books/humor_30/index.html'

headers = {'User-Agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36 OPR/37.0.2178.54'}

page = requests.get(url,headers = headers)

soup= BeautifulSoup(page.text, 'html.parser')

products_page_inicial = soup.find('ol',class_='row')

#colect name of book
name_book =  soup.find_all('img',class_='thumbnail')

#name of book
product_name= [p.get('alt') for p in name_book ]

#price of books
price_regular= products_page_inicial.find_all('p',class_='price_color')
product_price= [p.get_text() for p in price_regular]

#product in stock
stock= products_page_inicial.find_all('p',class_='instock availability')

product_stock= [p.get('class')[0] for p in stock]

#category

list_category = soup.find('li',class_='active').get_text('Humor')
    
#avaliation o book
star_of_book= soup.find_all('p', class_= 'star-rating')

product_avaliation = [p.get('class')[1] for p in star_of_book]

#making data
data= pd.DataFrame([product_name,product_price,product_stock,product_avaliation]).T

data.columns= ['product_name','product_price','product_stock','product_avaliation']

data['product_category'] = list_category

data['scrapy_datetime'] = datetime.now().strftime('%Y-%m-%d-%H-%M-%S')


##### cleaning the data ############

#product_name

data['product_name'] = data['product_name'].map(lambda x: x.lower().replace(' ','_') )

#product price

data['product_price']= data['product_price'].apply(lambda x: re.search('\d+.\d+',x).group(0))

#product_stock

data['product_avaliation']= data['product_avaliation'].map(lambda x: x.lower())

#category
data['product_category'] = data['product_category'].apply(lambda x: x.lower())

#date
data['scrapy_datetime']= pd.to_datetime(data['scrapy_datetime'],format= '%Y-%m-%d-%H-%M-%S')

data['product_avaliation'] = data['product_avaliation'].apply(lambda x: x.replace('one','1').replace('two','2').
                                                             replace('three','3').replace('four','4').
                                                              replace('five','5'))

data_humor = data.copy(deep=True)

data_humor.head()

,product_name,product_price,product_stock,product_avaliation,product_category,scrapy_datetime
0,the_long_haul_(diary_of_a_wimpy_kid_#9),44.07,instock,1,humor,2022-05-05 15:47:10
1,old_school_(diary_of_a_wimpy_kid_#10),11.83,instock,5,humor,2022-05-05 15:47:10
2,i_know_what_i'm_doing_--_and_other_lies_i_tell...,25.98,instock,4,humor,2022-05-05 15:47:10
3,"hyperbole_and_a_half:_unfortunate_situations,_...",14.75,instock,5,humor,2022-05-05 15:47:10
4,dress_your_family_in_corduroy_and_denim,43.68,instock,3,humor,2022-05-05 15:47:10

In [131]:
## ================ Bussines =========##

url = 'https://books.toscrape.com/catalogue/category/books/business_35/index.html'

headers = {'User-Agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36 OPR/37.0.2178.54'}

page = requests.get(url,headers = headers)

soup= BeautifulSoup(page.text, 'html.parser')

products_page_inicial = soup.find('ol',class_='row')

#colect name of book
name_book =  soup.find_all('img',class_='thumbnail')

#name of book
product_name= [p.get('alt') for p in name_book ]

#price of books
price_regular= products_page_inicial.find_all('p',class_='price_color')
product_price= [p.get_text() for p in price_regular]

#product in stock
stock= products_page_inicial.find_all('p',class_='instock availability')

product_stock= [p.get('class')[0] for p in stock]

#category

list_category = soup.find('li',class_='active').get_text('Bussines')
    
#avaliation o book
star_of_book= soup.find_all('p', class_= 'star-rating')

product_avaliation = [p.get('class')[1] for p in star_of_book]

#making data
data= pd.DataFrame([product_name,product_price,product_stock,product_avaliation]).T

data.columns= ['product_name','product_price','product_stock','product_avaliation']

data['product_category'] = list_category

data['scrapy_datetime'] = datetime.now().strftime('%Y-%m-%d-%H-%M-%S')


##### cleaning the data ############

#product_name

data['product_name'] = data['product_name'].map(lambda x: x.lower().replace(' ','_') )

#product price

data['product_price']= data['product_price'].apply(lambda x: re.search('\d+.\d+',x).group(0))

#product_stock

data['product_avaliation']= data['product_avaliation'].map(lambda x: x.lower())

#category
data['product_category'] = data['product_category'].apply(lambda x: x.lower())

#date
data['scrapy_datetime']= pd.to_datetime(data['scrapy_datetime'],format= '%Y-%m-%d-%H-%M-%S')

data['product_avaliation'] = data['product_avaliation'].apply(lambda x: x.replace('one','1').replace('two','2').
                                                             replace('three','3').replace('four','4').
                                                              replace('five','5'))

data_bussines = data.copy(deep=True)

data_bussines.head()

,product_name,product_price,product_stock,product_avaliation,product_category,scrapy_datetime
0,the_dirty_little_secrets_of_getting_your_dream...,33.34,instock,4,business,2022-05-05 15:51:30
1,the_third_wave:_an_entrepreneurâs_vision_of_...,12.61,instock,5,business,2022-05-05 15:51:30
2,the_10%_entrepreneur:_live_your_startup_dream_...,27.55,instock,3,business,2022-05-05 15:51:30
3,shoe_dog:_a_memoir_by_the_creator_of_nike,23.99,instock,2,business,2022-05-05 15:51:30
4,made_to_stick:_why_some_ideas_survive_and_othe...,38.85,instock,5,business,2022-05-05 15:51:30

In [160]:
#concat the datas
data_books= pd.concat([data_classic,data_science,data_bussines,data_humor]).reset_index(drop=True)

In [163]:
#the salve the data to csv

data_books.to_csv('data_books.csv')

In [104]:
#regex = '/{1}(.+\w+)/'
#regex= '/{1}(.+?)/index.html'

#for i in links:
    #if pd.notnull(links):
        #print(re.search(regex, i))

In [38]:
headers = {'User-Agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36 OPR/37.0.2178.54'}
    
#API Requests
for i in range(len(data)):
    
    
    url = 'https://books.toscrape.com/catalogue/'+ data.loc[i,'link_book']
    print(url)
    page = requests.get( url, headers=headers )

    #Beautifull Souo object
    soup= BeautifulSoup(page.text,'html.parser')
    
    product_list = soup.find('div',class_='container-fluid page')
    
    #number of Availability of book

   # product_availabilty= product_list.find_all('td')[5].string[8:-10].replace('(','')
    #
    data['teste'] = product_list.find_all('p',class_='price_color').get_text().replace('Â£','')
   
    #print(product_availabilty)

https://books.toscrape.com/catalogue/the-secret-garden_413/index.html

AttributeError: ResultSet object has no attribute 'get_text'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?

In [42]:
#PROCESSO FOR (UTILIZAR NO FUTURO)

headers = {'User-Agent':'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36 OPR/37.0.2178.54'}
    
#API Requests
for i in range(len(data)):
    
    
    url = 'https://books.toscrape.com/catalogue/'+ data.loc[i,'link_book']
    
    page = requests.get( url, headers=headers )

    #Beautifull Souo object
    soup= BeautifulSoup(page.text,'html.parser')
        
    #
    #list_category= soup.find('a',href='../category/books/classics_6/index.html')
    
    #product_category= [p.get_text() for p in list_category]
   
    #number of Availability of book

    product_availabilty= product_list.find_all('td')[5].string[8:-10].replace('(','')
    
    df_new = pd.DataFrame(product_availabilty).T
    
    df_new.columns= ['product_availabilty']   
    
    df_merge= pd.concat([data,df_new],axis=0)
    
df_merge


    #terceira parte/ observar a coleta

,product_name,product_price,product_stock,link_book,product_category,scrapy_datetime
0,The Secret Garden,15.08,In stock,the-secret-garden_413/index.html,Classics,2022-04-21-17-22-36
1,The Metamorphosis,28.58,In stock,the-metamorphosis_409/index.html,Classics,2022-04-21-17-22-36
2,The Pilgrim's Progress,50.26,In stock,the-pilgrims-progress_353/index.html,Classics,2022-04-21-17-22-36
3,The Hound of the Baskervilles (Sherlock Holmes...,14.82,In stock,the-hound-of-the-baskervilles-sherlock-holmes-...,Classics,2022-04-21-17-22-36
4,Little Women (Little Women #1),28.07,In stock,little-women-little-women-1_331/index.html,Classics,2022-04-21-17-22-36
5,Gone with the Wind,32.49,In stock,gone-with-the-wind_324/index.html,Classics,2022-04-21-17-22-36
6,Candide,58.63,In stock,candide_316/index.html,Classics,2022-04-21-17-22-36
7,Animal Farm,57.22,In stock,animal-farm_313/index.html,Classics,2022-04-21-17-22-36
8,Wuthering Heights,17.73,In stock,wuthering-heights_307/index.html,Classics,2022-04-21-17-22-36
9,The Picture of Dorian Gray,29.70,In stock,the-picture-of-dorian-gray_270/index.html,Classics,2022-04-21-17-22-36
10,The Complete Stories and Poems (The Works of E...,26.78,In stock,the-complete-stories-and-poems-the-works-of-ed...,Classics,2022-04-21-17-22-36
11,Beowulf,38.35,In stock,beowulf_126/index.html,Classics,2022-04-21-17-22-36
12,And Then There Were None,35.01,In stock,and-then-there-were-none_119/index.html,Classics,2022-04-21-17-22-36
13,The Story of Hong Gildong,43.19,In stock,the-story-of-hong-gildong_84/index.html,Classics,2022-04-21-17-22-36
14,The Little Prince,45.42,In stock,the-little-prince_72/index.html,Classics,2022-04-21-17-22-36
15,Sense and Sensibility,37.46,In stock,sense-and-sensibility_49/index.html,Classics,2022-04-21-17-22-36
16,Of Mice and Men,47.11,In stock,of-mice-and-men_37/index.html,Classics,2022-04-21-17-22-36
17,Emma,32.93,In stock,emma_17/index.html,Classics,2022-04-21-17-22-36
18,Alice in Wonderland (Alice's Adventures in Won...,55.53,In stock,alice-in-wonderland-alices-adventures-in-wonde...,Classics,2022-04-21-17-22-36
0,NaN,NaN,NaN,NaN,Classics,NaN

In [10]:
product_category

['Classics']

"Alice in Wonderland (Alice's Adventures in Wonderland #1)"