In [1]:
import pandas as pd
import sqlite3

In [48]:
data= pd.read_csv('/home/guilherme/Documentos/repos/ds_ao_dev/introducao_banco_dados/products_hm_cleaned.csv')

In [49]:
data = data.drop(['Unnamed: 0'],axis=1)

In [50]:
query_showroom_schrem= """ 
    CREATE TABLE VITRO_1
        ( product_id         INTEGER, 
         products_category   TEXT, 
         products_name       TEXT, 
         products_price      REAL,
         scrapy_datetime     TEXT, 
         stlye_id            INTEGER, 
         color_id            INTEGER,
         color_name          TEXT, 
         cotton              REAL,
         polyester           REAL, 
         elastomultiester    REAL,
         spandex             REAL )
"""

In [51]:
#connect to dataset/ função nativa do pacote sqlite3/ usado para criar o arquivo banco de dados
#nesse momento estou criando o banco de dados caso não exista/ se exitist será chamado apenas
conn= sqlite3.connect('hm_db.sqlite')

#executando a query que eu quero executar/concretizando a chamada da conexão da query
cursor= conn.execute(query_showroom_schrem)

#concretizandoa execução da query
conn.commit()

#fechando a conexão 
#conn.close()

In [52]:
#necessario instalar o pacote sqlalchemy

#verificar se a query foi devidamente criada/ esse pacote serve para outros bancos de dados
from sqlalchemy import create_engine

In [53]:
#conectando ao novo pacote/ 
conn= create_engine('sqlite:///hm_db.sqlite', echo=False)

In [63]:
#selecionando as colunas/dados que preciso manipular

query= """ SELECT * FROM VITRO_2 """


df = pd.read_sql_query(query,conn)

df.head()

,product_id,products_category,products_name,products_price,scrapy_datetime,stlye_id,color_id,color_name,cotton,polyester,elastomultiester,spandex
0,1024256001,men_jeans_slim,jeans,19.99,2022-04-24 11:00:00-21:30,1024256,1,dark_denim_blue,0.0,0.0,0.0,0.0
1,1024256001,men_jeans_slim,jeans,19.99,2022-04-24 11:00:00-21:30,1024256,1,black,0.0,0.0,0.0,0.0
2,1024256001,men_jeans_slim,jeans,19.99,2022-04-24 11:00:00-21:30,1024256,1,light_denim_blue,0.0,0.0,0.0,0.0
3,1024256001,men_jeans_slim,jeans,19.99,2022-04-24 11:00:00-21:30,1024256,1,denim_blue,0.0,0.0,0.0,0.0
4,1024256001,men_jeans_slim,jeans,19.99,2022-04-24 11:00:00-21:30,1024256,1,dark_blue,0.0,0.0,0.0,0.0

In [55]:
#insert data to table

data.to_sql('VITRO_1',con=conn, if_exists='append', index=False)

581

In [58]:
# fazendo os testes de comandos SQL

#UPDATE (ATUALIZAR DADOS NA TABELA)

#query= """
        #UPDATE VITRO_1 
        #SET products_name = 'jeans'
        #WHERE product_id = 1024256001
        #"""


#conn = sqlite3.connect( 'hm_db.sqlite' )
#cursor = conn.execute( query )
#conn.commit()

In [46]:
## Command - DROP TABLE (EXLUIR A TABELA)
#query = """
        # DROP TABLE VITRO_1
#"""

#conn = sqlite3.connect( 'hm_db.sqlite' )
#cursor = conn.execute( query )
#conn.commit()

In [61]:
#COMAND ALTER TABLE (ALTERAR NOME DA TABELA)

query = """ ALTER TABLE VITRO_1
            RENAME TO VITRO_2"""

conn = sqlite3.connect( 'hm_db.sqlite' )
cursor = conn.execute( query )
conn.commit()